<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.furkanakdemir.noticeboard">

    <application>
        <activity
            android:name=".ui.NoticeBoardActivity"
            android:label="@string/title_activity_notice_board"
            android:theme="@style/NoticeBoardTheme.NoActionBar" />
    </application>

</manifest>